{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light topnav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        {#        <a class="visible-xs b-r" href="#" data-side=collapse>#}
        {#                    <i class="fa fa-fw fa-2x fa-inverse fa-bars"></i>#}
        {#                  </a>#}
        <a class="hidden-xs b-r" href="#" data-side="mini">
            <i class="fa fa-fw fa-2x fa-inverse fa-bars"></i>
        </a>
        <ul class=" navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <i class="fa fa-inverse fa-2x fa-fw fa-home" aria-hidden="true"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <i class="fa fa-inverse fa-2x fa-fw fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">Signup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>