{% extends 'base.html' %}
{% load i18n static %}
{% block extra_css %}
    <link href="{% static 'css/members-out.css' %}" rel="stylesheet">{% endblock %}

{% block bodyclass %}class="gray-bg"{% endblock %}
{% block base %}
    <div class="wrapper wrapper-content ">
        <div class="row">
            <div class="col-lg-12">
                <div class="middle-box text-center loginscreen">
                    {% if user.is_authenticated %}
                        {% trans 'You are already logged in!' %}
                    {% else %}
                        {% block content %}{% endblock content %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock base %}